.table {
  margin-left: 30%;
  margin-right: 30%;
  border-width: 10px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}